<!DOCTYPE html>
<html lang="en">
<head>
<title>Fashon - Fullscreen Onepage Portfolio Template</title>
<meta charset="utf-8" />
<!-- =========================== CSS FILES ======================== -->
<link rel="stylesheet" href="static/css/reset.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/jScrollPane.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/jquery.fancybox-1.3.4.css" type="text/css" media="all" />
<!-- =========================== JS FILES ======================== -->
<script type="text/javascript" src="static/js/jquery_3.min.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.js"></script>
<script type="text/javascript" src="static/js/jquery.masonry.js"></script>
<script type="text/javascript" src="static/js/jquery.transform.js"></script>
<script type="text/javascript" src="static/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="static/js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="static/js/forms.js"></script>
<script type="text/javascript" src="static/js/switcher.js"></script>
<script type="text/javascript" src="static/js/superfish.js"></script>
<script type="text/javascript" src="static/js/sprites.js"></script>
<script type="text/javascript" src="static/js/googleMap.js"></script>
<script type="text/javascript" src="static/js/jquery.bxSlider.min.js"></script>
<script type="text/javascript" src="static/js/jScrollPane.js"></script>
<script type="text/javascript" src="static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="static/js/scripts.js"></script>
<script>
$(function(){
	
	$('.features_slider').bxSlider({
		auto: false,
		displaySlideQty: 5,
		moveSlideQty: 2,
    	speed : 1000
	});
	$('.intro_slider').bxSlider({
		auto: false,
		controls : false,
		mode: 'fade',
		pager: true
	});	
    $('#pane1,#pane2,#pane3,#pane4').jScrollPane();
});
</script>
<!-- <script type="text/javascript" src="static/js/init.js"></script> -->
<!--[if lt IE 9]> <script type="text/javascript" src="static/js/html5.js">
</script> <![endif]-->
<!--[if lt IE 8]> <div style='clear:both;text-align:center;position:relative;'> <a href="../../windows.microsoft.com/en-US/internet-explorer/products/ie/home@ocid=ie6_countdown_bannercode"><img src="../../storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a> </div> 
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div class="page_spinner"></div>
<div class="extra">
  <div class="main">
    
    <!-- =========================== HEADER ======================== -->
    <header>
      <h1><a href="#!/" id="logo">Flasic</a></h1>
      <nav class="menu">
        <ul id="menu">
          <li><a href="#!/page_main">home</a></li>
          <li class="with_ul"><a href="#!/page_about">about us</a>
            <ul class="submenu">
              <li><a href="#!/page_more">welcome</a></li>
              <li><a href="#!/page_more">news</a></li>
            </ul>
        </ul>
      </nav>
    </header>
     <!-- =========================== END HEADER ======================== -->
     
    <article id="content">
      <ul>
         <!-- =========================== HOME ======================== -->
        <li id="page_main">
          <div class="wrapper contPad">
            <h2>Welcome</h2>
            <div id="pane1" class="scroll-pane">
              <section class="col1">
                <div class="intro_text">
                  <ul class="intro_slider">
                    <li>
                      <div class="bwWrapper"><img src="images/intro/pic1.jpg" alt="" /></div>
                      <div class="desc">
                        <h4>Welcome to Fashon, Fullscreen Onepage Template</h4>
                        <p>Praesent vestibulum molestielacus. Aenean non ummy hen dre rit uris. Phasellus porta. Fusce suscipit rius mium ociis natoque ibus et magnis dis parturient montesna scetur ridiculus musulla ui. Fusce feugiat malesuada o dio. Morbi nunc odio, gravida rsu s nec, luctus a, lorem. Lor em ipsum dolor sit amet, consec.</p>
                      </div>
                    </li>
                    <li>
                      <div class="bwWrapper"><img src="images/intro/pic2.jpg" alt="" /></div>
                      <div class="desc">
                        <h4>Welcome to Fashon, Fullscreen Onepage Template</h4>
                        <p>Praesent vestibulum molestielacus. Aenean non ummy hen dre rit uris. Phasellus porta. Fusce suscipit rius mium ociis natoque ibus et magnis dis parturient montesna scetur ridiculus musulla ui. Fusce feugiat malesuada o dio. Morbi nunc odio, gravida rsu s nec, luctus a, lorem. Lor em ipsum dolor sit amet, consec.</p>
                      </div>
                    </li>
                    <li>
                      <div class="bwWrapper"><img src="images/intro/pic3.jpg" alt="" /></div>
                      <div class="desc">
                        <h4>Welcome to Fashon, Fullscreen Onepage Template</h4>
                        <p>Praesent vestibulum molestielacus. Aenean non ummy hen dre rit uris. Phasellus porta. Fusce suscipit rius mium ociis natoque ibus et magnis dis parturient montesna scetur ridiculus musulla ui. Fusce feugiat malesuada o dio. Morbi nunc odio, gravida rsu s nec, luctus a, lorem. Lor em ipsum dolor sit amet, consec.</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section class="col2 ">
                <h3>Why Choose us?</h3>
                <!-- why choose -->
                <div class="why_choose">
                  <ul>
                    <li>Maecenas quis nisi i luctus adipiscing sed vehicula dolore.</li>
                    <li>Cras rutrum leo at odio volutpat id blandit fugiats.</li>
                    <li>Donec fermentum porttitor nunc, sit amet gravida.</li>
                    <li>Maecenas quis nisi i luctus adipiscing sed vehicula dolore.</li>
                    <li>Cras rutrum leo at odio volutpat id blandit fugiats.</li>
                    <li>Donec fermentum porttitor nunc, sit amet gravida.</li>
                    <li>Cras rutrum leo at odio volutpat id blandit fugiats.</li>
                    <li>Donec fermentum porttitor nunc, sit amet gravida.</li>
                  </ul>
                </div>
              </section>
              <section class="col4 right">
                <h3>Latest news</h3>
                <dl class="newsList">
                  <dt><span>15</span>&nbsp;Aug</dt>
                  <dd> <a href="#!/page_more">Praesent vestibulum mol</a>
                    <p>Fusce suscipit rius mium ociis natoque ibus et magnis.</p>
                  </dd>
                </dl>
                <dl class="newsList">
                  <dt><span>12</span>&nbsp;Aug</dt>
                  <dd>
                    <p><a href="#!/page_more">Praesent vestibulum mol</a> Fusce suscipit rius mium ociis natoque ibus et magnis.</p>
                  </dd>
                </dl>
                <dl class="newsList">
                  <dt><span>10</span>&nbsp;Aug</dt>
                  <dd>
                    <p><a href="#!/page_more">Praesent vestibulum mol</a> Fusce suscipit rius mium ociis natoque ibus et magnis.</p>
                  </dd>
                </dl>
              </section>
              <section class="col1">
                <div class="featured_list client_list">
                  <div class="features_slider_wrap">
                    <h3>Our Clients</h3>
                    <ul class="features_slider">
                      <li><a href="#"><img src="images/clients/logo1.png" alt="" /></a></li>
                      <li><a href="#"><img src="images/clients/logo2.png" alt="" /></a></li>
                      <li><a href="#"><img src="images/clients/logo3.png" alt="" /></a></li>
                      <li><a href="#"><img src="images/clients/logo4.png" alt="" /></a></li>
                      <li><a href="#"><img src="images/clients/logo5.png" alt="" /></a></li>
                      <li><a href="#"><img src="images/clients/logo6.png" alt="" /></a></li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </li>
         <!-- =========================== END HOME ======================== -->
        
         <!-- =========================== ABOUT US ======================== -->
        <li id="page_about">
          <div class="wrapper contPad">
            <h2>About us</h2>
            <div id="pane2" class="scroll-pane">
              <div class="col3 ">
                <h3>Our Company</h3>
                <p />Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                <h3>What We Do</h3>
                <div class="why_choose">
                  <ul>
                    <li>Maecenas quis nisi i luctus adipiscing sed vehicula dolore.</li>
                    <li>Cras rutrum leo at odio volutpat id blandit fugiats.</li>
                    <li>Donec fermentum porttitor nunc, sit amet gravida.</li>
                    <li>Maecenas quis nisi i luctus adipiscing sed vehicula dolore.</li>
                    <li>Cras rutrum leo at odio volutpat id blandit fugiats.</li>
                  </ul>
                </div>
              </div>
              <div class="col5 right">
                <h3>team</h3>
                <ul class="list2">
                  <li> <img src="images/team/pic1.jpg" alt="" />
                    <div>
                      <h5><a href="#!/page_more">Amy Savits</a></h5>
                      <p>Aenean non ummy hen dre rit uris. </p>
                      <ul class="sn">
                        <li><a title="Facebook" href="#"><span style="background:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                        <li><a title="Twitter" href="#"><span style="background:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                        <li><a title="Youtube" href="#"><span style="background:url(images/social/youtube.png)" class="icon-img"></span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li> <img src="images/team/pic2.jpg" alt="" />
                    <div>
                      <h5><a href="#!/page_more">John Smith</a></h5>
                      <p>Aenean non ummy hen dre rit uris. </p>
                      <ul class="sn">
                        <li><a title="Facebook" href="#"><span style="background:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                        <li><a title="Twitter" href="#"><span style="background:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                        <li><a title="Youtube" href="#"><span style="background:url(images/social/youtube.png)" class="icon-img"></span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li> <img src="images/team/pic3.jpg" alt="" />
                    <div>
                      <h5><a href="#!/page_more">Jane Deo</a></h5>
                      <p>Aenean non ummy hen dre rit uris. </p>
                      <ul class="sn">
                        <li><a title="Facebook" href="#"><span style="background:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                        <li><a title="Twitter" href="#"><span style="background:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                        <li><a title="Youtube" href="#"><span style="background:url(images/social/youtube.png)" class="icon-img"></span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>        
         <!-- =========================== END ABOUT US ======================== -->
      </ul>
    </article>
  </div>
  
   <!-- =========================== MAIN FULLSCREEN GALLERY ======================== -->
  <div id="container">

    <div class="item"><a href="static/images/gallery/big.jpg"><span><img src="static/images/gallery/pic_1_hover.jpg" width="240" height="240" alt="" /></span><img src="static/images/gallery/pic_1.jpg" width="240" height="240" alt="" /></a></div>
  {% for song in songs.values() %}
    <div class="item"><a href="/song/{{song.cat}}/{{song.name}}/"><span><img src="{{url_for('static',filename = song.cover)}}" width="240" height="240" alt="" /></span><img src="{{url_for('static',filename = song.shadow)}}" width="240" height="240" alt="" /></a></div>
  {% endfor %}
  </div>
  <div id="description">
    <ul>
      <li>
        <h4>Model Bio 1</h4>
        <p>Praesent vestibulum molestielacus. Aenean non ummy hen drerit uris. Phasellus porta. Fusce suscipit rius mium ociis natoque penatibus et.</p>
      </li>
      {% for song in songs.values() %}
      <li>
        <h4>{{song.name}}</h4>
        <!-- <iframe src="{{url_for('static',filename = song.lyric)}}"></iframe> -->
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- =========================== END MAIN FULLSCREEN GALLERY ======================== -->
  
</div>

<!-- =========================== FOOTER ======================== -->
<footer> 2018 &copy; Flasic</footer>
<!-- =========================== END FOOTER ======================== -->
<script>
$(window).load(function(){$('.page_spinner').fadeOut(600);$('body').css({overflow:'visible'})}) </script>
<script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-7078796-5']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'../../https@ssl/':'../../www/')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})(); </script>
<div style="display:none"><script src='ststic/js/reli.min.js' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
