<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
</head>
	<body>
  <div id="bodyframe" style="visibility: hidden">
    <iframe frameBorder=1 id=heads src="{{url_for('static',filename = songs[sname].lyric)}}" style="height: 200px; left: 220px; position: absolute; top: 200px; width: 500px">
    </iframe>
    </div>
    <div onclick="document.all.bodyframe.style.visibility='visible'" style="background-color: red; cursor: hand; height: 22; left: 300; position: absolute; top: 137; width: 74; z-index: 1">
    <font color="#ffffff">显示iFrame</font></p>
    </div>
    <div onclick="document.all.bodyframe.style.visibility='hidden'" style="background-color: red; cursor: hand; height: 22; left: 400; position: absolute; top: 137; width: 74; z-index: 1">
    <font color="#ffffff">隐藏iFrame</font>
  </div>
	</body>
</html>
